/* Cart.css */
.cart-page {
  background: #f1f0f0;
  min-height: 100vh;
  padding: 20px;
}

.cart-wrapper {
  max-width: 750px;
  margin: auto;
}

.cart-wrapper h2 {
  font-size: 26px;
  font-weight: 600;
}

.restaurant-name {
  color: #696969;
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-card {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #eee;
}

.cart-row {
  display: flex;
  gap: 15px;
}

.cart-row img {
  width: 90px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.cart-info {
  flex: 1;
}

.cart-info h4 {
  margin: 0;
  font-size: 16px;
}

.cart-info p {
  margin: 5px 0;
  color: #696969;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.qty-box {
  display: flex;
  align-items: center;
  border: 1px solid #ef4f5f;
  border-radius: 20px;
  height: 34px;
  overflow: hidden;
}

.qty-box button {
  width: 34px;
  height: 100%;
  border: none;
  background: transparent;
  color: #ef4f5f;
  font-size: 16px;
  cursor: pointer;
}

.qty-box span {
  width: 35px;
  text-align: center;
  font-weight: 500;
}

.qty-box button:first-child {
  border-right: 1px solid #eee;
}

.qty-box button:last-child {
  border-left: 1px solid #eee;
}

.item-total {
  font-weight: 600;
}

.cart-summary {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  margin-top: 20px;
  border: 1px solid #eee;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.checkout-btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  background: #ef4f5f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #d84352;
}

.empty {
  text-align: center;
  color: #696969;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .cart-row {
    flex-direction: column;
  }

  .cart-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}