.collection-details {
    max-width: 1400px;
    margin: 40px auto;
    background: transparent !important;
    padding: 0 !important;
}

.collection-header {
    margin-bottom: 20px;
}

.collection-header h1 {
    font-size: 28px;
    text-transform: capitalize;
}