
/* Login.css */
  .login-page {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  background: white;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.login-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.close-btn i {
  font-size: 20px;
  color: #777;
  transition: 0.2s ease;
}

.close-btn:hover i {
  color: black;
}

.form-controls {
  margin-bottom: 20px;
}

/* .phone-field {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 50px;
} */

/* .country-code {
  border: none;
  padding: 0 15px;
  background: #fff;
  border-right: 1px solid #eee;
  cursor: pointer;
  font-size: 14px;
  outline: none;
} */

.email-field input {
  border: none;
  outline: none;
  padding: 0 15px;
  flex: 1;
  font-size: 14px;
}

.fullname-field input {
  border: none;
  outline: none;
  padding: 0 15px;
  flex: 1;
  font-size: 14px;
}

.btn-otp {
  width: 100%;
  padding: 14px;
  background: #ef4f5f;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.btn-otp:hover {
  background: #d93f4e;
}

.btn-login {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

.btn-login:hover {
  background: #f5f5f5;
}

.break {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.break hr {
  flex: 1;
  border: none;
  border-top: 1px solid #eee;
}

.break span {
  font-size: 20px;
  color: #777;
}

.login-footer {
  text-align: center;
  font-size: 14px;
}

.login-footer a {
  color: #ef4f5f;
  text-decoration: none;
  font-weight: 500;
}

.login-footer a:hover {
  text-decoration: underline;
}