/* RestaurentCards.css */
.restaurant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.restaurent-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.restaurent-card:hover {
    transform: scale(1.02);
}

.restaurent-card img {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.restaurent-content {
    padding: 10px;
    font-size: 15px;
}

.restaurent-content h3 {
    font-size: 18px;
    font-weight: 500;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    background: green;
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
}

.location {
    font-size: 14px;
    color: #696969;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 1200px) {
    .restaurant-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .restaurant-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .restaurant-cards {
        grid-template-columns: 1fr;
    }

    .restaurent-card img {
        height: 180px;
    }
}