.admin-login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cecece;
}

.admin-login-box {
  width: 450px;
  height: 400px;
  padding: 50px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.admin-login-box input {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 7px;
}

.admin-login-box button {
  padding: 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.admin-sidebar {
  width: 240px;
  background: #111;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
}

.admin-sidebar button {
  width: 100%;
  padding: 14px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.logout-btn {
  background: crimson;
  color: white;
}

.admin-content {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .admin-sidebar {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .admin-sidebar {
    display: none;
  }

  .admin-content {
    width: 100%;
  }
}